<!DOCTYPE html>
<div class="form-horizontal" role="form">
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12 fileinputs">
                <input id="kmlinput" type="file" class="file btn btn-lgv-grey btn-sm col-md-12 col-sm-12">
                <div class="col-md-12 col-sm-12 col-xs-12 fakefile">
                    <button id="fakebutton" class="btn btn-lgv-grey btn-sm col-md-12 col-sm-12">
                        <%= fakeButtonText %>
                    </button>
                </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button id="btn_import" class="btn btn-lgv-grey btn-sm col-md-12 col-sm-12 import" disabled="true">
            <span class="glyphicon glyphicon-import"></span>
            <%= importButtonText %>
            </button>
        </div>
    </div>
</div>
