<!DOCTYPE html>
<span id="geolocation_marker" class="glyphicon glyphicon-map-marker geolocation_marker" />
<div class="orientationButtons">
    <span id="geolocate" class="glyphicon glyphicon-map-marker" title="<%= titleGeolocate %>"></span>
    <% if (showPoi === true) { %>
        <br>
        <span id="geolocatePOI" class="glyphicon glyphicon-record" title="<%= titleGeolocatePOI %>"></span>
    <% } %>
</div>
